# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Chaks Malaks\Downloads\Compressed\bitcoinj-master\com.eviro.assessment.grad001.ChaoaneaMalakoane\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
